#home-page
{
    text-align: center;
    padding-left: 200px;
    padding-right: 200px;
    
}



body
{
    background-color: lab(44.02% 69.44 58.27);
    color: white;
    text-align: center;
    font-size: 1.5em;
    background-image: url(../photos/istockphoto-1343778073-612x612.jpg);
}

nav a:link
{
    color:white;
    text-decoration: none;
}

nav a:visited
{
    color:white;
}

nav a:hover
{
    text-decoration: underline;
}

#navigation-bar {
    list-style:none;
    padding-bottom: 50px;
}

nav li 
{
    display: inline;
    padding-right: 60px;
    padding-left: 60px;
}

#important
{
    font-size: 1.1em;
    text-decoration: underline;
}

#reasons-why
{
    padding-right: 75px;
    padding-left: 75px;
}

h3
{
    text-align: center;
    padding-top: 60px;
}